[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
moto = "*"
pytest = "*"
requests_mock = "*"
boto3 = "*"
flake8 = "*"

[packages]
requests = "*"
jsonschema = "*"
bleach = "*"

[requires]
python_version = "3.7"
